*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F29AAE;
}

#input-write-task{
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 20px;
    width: 500px;
    text-align: center;
    padding: 25px;
    margin: 25px;
    border-radius: 55px;
    /* position: absolute;
    top: 100px;
    left: 500px; */

}

#task-input-div{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#add-task{
    /* background-color: whitesmoke; */
    height: 50px;
    width: 150px;
    border-radius: 50px;
    font-weight: 700;

}

h1{
    text-align: center;
}

button:hover{
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0;
    background-color: rgb(189, 122, 251);


}

button:active{
    background-color: orange;
}